@page "/play-battleships"

<PageTitle>Play Battleships</PageTitle>

@using Battleships.Lib.Controllers
@inject GameController gameController

<h1>Play Battleships</h1>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
